<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-900">
  <body class="h-full">
  ```
--> 
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company" class="mx-auto h-10 w-auto" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm" *ngIf="!authResponse.mfaEnabled">
    <form action="#" method="POST" class="space-y-6" (ngSubmit)="authenticate()">
      <div>
        <label for="email" class="block text-sm/6 font-medium text-black-100">Email address</label>
        <div class="mt-2">
          <input id="email" type="email" name="email" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-black-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" 
          [(ngModel)] = "authRequest.email"
          />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-black-100">Password</label>
          <div class="text-sm">
            <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">Forgot password?</a>
          </div>
        </div>
        <div class="mt-2">
          <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-black-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" 
          [(ngModel)]="authRequest.password"
          />
        </div>
      </div>

     <div class="form-group">
      <input
        id="rememberMe"
        name="rememberMe"
        type="checkbox"
        [(ngModel)]="authRequest.mfaEnabled"
      >
      <label for="rememberMe">Enable 2FA (Two Factors Authentication)</label>
     </div>
      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Sign in</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm/6 text-gray-400">
      Not a member?
      <a routerLink="/register" class="font-semibold text-indigo-400 hover:text-indigo-300">Register</a>
    </p>

     <div *ngIf="authResponse.mfaEnabled">
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium text-black-100">Two-Factor Authentication</label>
        </div>
        <div class="mt-2">
          <p>Enter 6 digits Validation Code Generated by the app</p>
          <input id="validationCode" type="text" name="validationCode" required  class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-black outline-1 -outline-offset-1 outline-black/10 placeholder:text-black-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" 
          [(ngModel)]="optCode"
          />
        </div>
        <button type="button"  
          [class.button-disabled]="optCode.length < 6"
           class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Verify code</button>
      </div>
  </div>
</div>

<!-- TwoFA Modal -->
<div 
  *ngIf="showTwoFAModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-gray-800 text-white rounded-2xl shadow-xl p-6 w-96">
    <h2 class="text-xl font-semibold mb-4">Two-Factor Authentication</h2>
    <p class="mb-6">
      Your account is protected with 2FA. Please enter your verification code.
    </p>
    <div class="flex justify-end space-x-3">
      <button 
        (click)="closeTwoFAModal()" 
        class="px-4 py-2 bg-gray-600 rounded-lg hover:bg-gray-500 transition"
      >
        Cancel
      </button>
      <button 
        (click)="goTo2FA()" 
        class="px-4 py-2 bg-indigo-600 rounded-lg hover:bg-indigo-500 transition"
      >
        Continue
      </button>
    </div>
  </div>
</div>

